
/*Form Heading*/

h1{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
}
h1::after {
    display: block;
    height: 4px;
    font-weight: bold;
    background-color: black;
    content: " ";
    width: 130px;
    margin: 0 auto;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}


h2 {
    font-family: 'Archivo Black', sans-serif;
    padding-bottom: 10px;
}

label {
    font-family: 'Hammersmith One', sans-serif;
}

.container {
    background-color: whitesmoke;
    opacity: 0.8;
}


.form-control {
    display: block;
    width: 200px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



.form-control-two {
    display: block;
    width: 80px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.student_info{
    float: left;
    margin-left: 100px;
}
.mark_info {
    float: right;
    margin-right: 200px;

}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-top: 500px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}